mixin sleep(...item)
  .holder-slider__info
    .holder-slider__info-item
      .holder-slider__info-subtitle=item[0]
      .holder-slider__info-title!=item[1]
    .holder-slider__info-item
      .holder-slider__info-subtitle=item[2]
      .holder-slider__info-title=item[3]
    .holder-slider__info-item
      .holder-slider__info-subtitle=item[4]
      .holder-slider__info-title=item[5]
    .holder-slider__info-item
      .holder-slider__info-subtitle=item[6]
      .holder-slider__info-title=item[7]
        span=item[8]
  .holder-slider__btn
    a.btn(href="#")=item[9]
      span=item[10]